.App {
  display: inline-block;
}

.Actions {
  height: 100vh;
}

button {
  display: block;
  width: 20vh;
  height: calc(100vh/9);
  background-color: #b2fff0;
  justify-content: center;
}

.Description {
  font-style: oblique;
  color: white;
  overflow: hidden;
  height: 55px;
  vertical-align: middle;
  text-align: center;
  /* word-wrap: break-word; */
}

.Cards {
  display: inline-block;
  margin: 0px 20px 0px 20px;
  background-color: black;
  width: 185px;
}

.Bank {
  position: fixed;
  top: 50%;
  left: 50%;
  /* margin-top: -80px;
  margin-left: -100px; */
  -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.P1-cards {
  position: absolute;
  left: 50%;
  top: 0px;
  -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.P2-cards {
  position: absolute;
  left: 50%;
  bottom: 0px;
  -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}