html {
  font-size: 10px;
}

.app {
  width: 100%;
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr;
  height: 100vh;
}

.actions {
  display: grid;
  grid-template-rows: repeat(9, 100px);
  grid-gap: 7px;
}

.actions .button, .block-button .button {
  font-size: 2rem;
}

.board {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
}

.button {
  display: block;
  width: 100%;
  justify-content: center;
  outline: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .5);
  border-radius: 8px;
  color: black;
  background-color: white;
  border: 2px solid #2383ff;
}

.button:hover {
  background-color: #2383ff;
  color: white;
}

.button:active {
  position: relative;
  box-shadow: none;
  top: 1px;
  background-color: #1279ff;
}

.description {
  padding: 0px;
  margin: 0px;
  font-size: 1.5rem;
  line-height: 2rem;
  overflow: hidden;
  text-align: left;
}

.card-name {
  font-size: 2rem;
  font-weight: bold;
}

.card-holder {
  display: inline-block;
  width: 200px;
  height: 350px;
  vertical-align: middle;
  border: solid white 5px;
  border-radius: 25px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.cards {
  width: 100%;
  border-radius: 25px 25px 8px 8px;;
}

.card-back {
  height: 100%;
  border-radius: 25px;
}

.block-button {
  display: grid;
  grid-template-rows: repeat(2, 70px);
  grid-template-columns: 200px;
  grid-gap: 5px;
}

.block-button-container {
  align-self: center;
  justify-self: center;
}

.player-cards {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}

.board-item {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 20px;
  width: 100%;
}

.start {
  align-self: start;
}

.end {
  align-self: end;
}

.right {
  justify-self: right;
}

.left {
  justify-self: left;
}

.text-fade {
  font-weight: 100;
  opacity: 0.7;
}

.text-bold {
  font-weight: bold;
  font-size: 4rem;
}